{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "React": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".test.js", ".jsx"] }]
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "globals": {
        "shallow": true,
        "React": true
      }
    }
  ]
}
