.movieCard {
  width: 20em;
  margin: 0;
  margin-bottom: 2rem;
  &>img {
    width: 100%;
  }
}

.title {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  color: var(--color-text-secondary)
}
