.movieCard {
    width: 20em;
    margin: 0;
    margin-bottom: 3rem;

    &>figcaption {
        &>div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
