.searchBar {
  display: flex;
  flex-direction: column;
  padding: var(--padding-header);
  &>h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  &>p {
    display: flex;
    margin-top: 0;
    &>input[type=text] {
      flex-grow: 1;
    }
  }
}
