.header {
  position: relative;
  padding: 0 var(--padding-header);
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  background-image: url('./bg.png');
  &>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &>h3 {
    margin: 0;
    position: absolute;
    top: 1.5rem;
    left: 4rem;
  }
}
