@import "~normalize.css";

:root {
  --color-pink: #F65261;
  --color-darker-gray: #484848;
  --color-gray: #5C5C5C;
  --color-lighter-gray: #BDBDBD;
  --color-white: #FFF;
  --background-color: #545454;
}

body {
  background-color: var(--background-color);
  color: var(--color-white);
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
}
